[bot_credential]
bot_token = 

[chat_id]
private_chat_id = 

[lazy_bot_credential]
bot_token = 
private_chat_id = 

#再一個就好 CAACAgUAAxkBAAPmYOn8C4ZrnO1qJfdPdtQ-ai9FqaUAAgMFAAIl4OsOkcL1sIIVUQYgBA
#恭喜發財 CAACAgUAAxkBAAPqYOn-qbLYXOMdG3PPuY0g_3vH0igAAhcFAAIl4OsOYOQIRar6TdAgBA
#發薪日 CAACAgUAAxkBAAPvYOoBGMFtH-jcQr9KLhIubRTs-ZwAAsAAA7B38w6Rwsk3BbFB-yAE
#崩潰 CAACAgUAAxkBAAPuYOoAAeqklnf6I3Lh-G430AKOTIlnAALdEgAC1x2LBi2YL3GcE23RIAQ
#現在就游過去 CAACAgUAAxkBAAIBLGDrMQfk-2PWz5O0rg1hbBwxZ7DKAAJAEgAC1x2LBieD-RRfxNlZIAQ

#https://api.telegram.org/bot.'Your_Bot_Token'./getUpdates